<a href="https://colab.research.google.com/github/sonamyadav11/Data-structure-module4-assignment/blob/main/module4%20assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1 Write a code to reverse a string
str1=input("enter string")
rev=str1[::-1]
print(rev)

enter stringsonam
manos

In [ ]:
# 2 Write a code to count the number of vowels in a string

str1=input("enter string")
str1.lower()
count=0;
for i in range(len(str1)):
  if(str1[i]=="a"or str1[i]=="e"or str1[i]=="i"or str1[i]=="o"or str1[i]=="u"):
    count=count+1
print(count)

enter stringsonam
2

In [ ]:
#  3 Write a code to check if a given string is a palindrome or not
str1=input("enter string")
rev=str1[::-1]
if(str1==rev):
  print("string is pallindrome")
else:
    print("string is not pallindrome")

enter stringmom
string is pallindrome

In [ ]:
# 4 Write a code to check if two given strings are anagrams of each other

str1=input("enter string 1")
str2=input("enter string 2")
str1.lower()
str2.lower()
if(sorted(str1)==sorted(str2)):
  print("string is anagram")

else:
  print("string is  not anagram")

enter string 1sool
enter string 2loos
string is anagram

In [ ]:
# 5 Write a code to find all occurrences of a given substring within another string
def find_occurence(stri1,substr):
  occurence=[]
  for i in range(len(stri1)):
    if stri1.startswith(substr,i):
      occurence.append(i)
  return occurence
stri1=input("enter string")
substr=input("enter substring")
print(find_occurence(stri1,substr))

enter stringabcabbb
enter substringabc
[0]

In [ ]:
# 6 Write a code to perform basic string compression using the counts of repeated characters

str1=input("enter a string")
ans=""
count=1
for i in range(len(str1)-1):
  if(str1[i]==str1[i+1]):
    count=count+1
  else:
    ans = ans+ str1[i]+str(count)
    count=1
ans += str1[-1] + str(count)
print(ans)

enter a stringaabb
a2b2

In [ ]:
# 7 Write a code to determine if a string has all unique characters

def uniqu(str1):
  if len(str1)==len(set(str1)):
    return("string has  all unique character")
  else:
    return("string do not have all unique character")
str1=input("enter string")
print(uniqu(str1))

enter stringsonam
string has  all unique character

In [ ]:
# 8  Write a code to convert a given string to uppercase or lowercase

str1=input("enter a string")
print(str1.upper())
print(str1.lower())

enter a stringSonam
SONAM
sonam

In [ ]:
# 9 Write a code to count the number of words in a string

str1=input("enter a string")
count=1
for i in range(len(str1)):
  if(str1[i]==" "):
    count=count+1
print(count)

enter a stringhii i am sonam
4

In [ ]:
# 10  Write a code to concatenate two strings without using the + operator
str1= input("enter a string1")
str2= input("enter a string2")
ans= "".join([str1,str2])
print(ans)

enter a string1sonam
enter a string2yadav
sonamyadav

In [ ]:
# 11  Write a code to remove all occurrences of a specific element from a list
lis=["sonam",1,2,3,4]
lis.remove("sonam")
print(lis)

[1, 2, 3, 4]

In [ ]:
# 12  Implement a code to find the second largest number in a given list of integers
lis=[5,7,10,3,11]
lis.sort()
print(lis[-2])

10

In [ ]:
# 13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values
lis=["hello",1,2,1,1,3,4,"hello"]
dic={}
for i in lis:
  dic[i]=lis.count(i)
print(dic)

{'hello': 2, 1: 3, 2: 1, 3: 1, 4: 1}

In [ ]:
# 14 Write a code to reverse a list in-place without using any built-in reverse functions
lis=[1,2,3,4,5]
ans_list=[]
i=len(lis)-1
while i>=0:
  ans_list.append(lis[i])
  i=i-1
print(ans_list)

[5, 4, 3, 2, 1]

In [ ]:
# 15  Implement a code to find and remove duplicates from a list while preserving the original order of elements
lis=[1,1,2,3,4,2]
unique_list=[]
def remove_duplicate(lis):
  for ele in lis:
    if ele in unique_list:
      continue
    else:
      unique_list.append(ele)
  return unique_list

result=remove_duplicate(lis)
print(result)

[1, 2, 3, 4]

In [ ]:
#16  Create a code to check if a given list is sorted (either in ascending or descending order) or not
lis=[5,6,7,8,1,2,19]
ascen=lis.sort()
desc=lis.sort(reverse=True)
if lis==ascen:
  print("list is sorted in ascending")
elif lis==desc:
  print("list is sorted in descending")
else:
  print("not sorted")

not sorted

In [ ]:
# 17 Write a code to merge two sorted lists into a single sorted list
lis1=[1,2,5,6,7]
lis2=[3,4,9,10,11]
lis1.extend(lis2)
print(" after merging both list",lis1)
lis1.sort()
print("after merging and sorting:",lis1)

 after merging both list [1, 2, 5, 6, 7, 3, 4, 9, 10, 11]
after merging and sorting: [1, 2, 3, 4, 5, 6, 7, 9, 10, 11]

In [ ]:
# 18  Implement a code to find the intersection of two given lists

lis1=[1,3,4,2,5]
lis2=[2,3,4,10,11]
intersec=[]

def intersection_find(lis1,lis2):
  for ele in lis1:
    for ele1 in lis2:
       if ele==ele1:
        intersec.append(ele)
       else:
        continue
  return intersec
result= intersection_find(lis1,lis2)
print(result)

[3, 4, 2]

In [ ]:
# 19 Create a code to find the union of two lists without duplicates

lis1=[1,4,5,3,7,8]
lis2=[6,7,4,5,3,7]
lis1.extend(lis2)
union_list=[]
for ele in lis1:
  if ele not in union_list:
    union_list.append(ele)
  else:
    continue
print(union_list)

[1, 4, 5, 3, 7, 8, 6]

In [ ]:
# 20  Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random

def shuffle_list(lis):
  n = len(lis)
  for i in range(n-1,0,-1):
    j = random.randint(0, i)
    lis[i], lis[j] = lis[j], lis[i]
  return lis


my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[5, 4, 1, 3, 2]

In [ ]:
# 21  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
tuple1=input("enter value spaced enter")
my_tuple1 = set(tuple1.split())
tuple2=input("enter a spaced word")
my_tuple2=set(tuple2.split())
common_element=(my_tuple1 & my_tuple2 )
print(common_element)

enter value spaced enter 1 2 3 4
enter a spaced word2 3 5 6
{'2', '3'}

In [ ]:
# 22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
set1=input("enter comma sperated value")
set2=input("enter comma seperated value")
my_set1=set(set1.split(","))
my_set2=set(set2.split(","))
ans=(my_set1 & my_set2)
print(ans)

enter comma sperated value1,2,3,4
enter comma seperated value5,6,3,2
{'3', '2'}

In [ ]:
# 23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples
tuple1=input("enter value spaced enter")
my_tuple1 = tuple(tuple1.split())
tuple2=input("enter a spaced word")
my_tuple2=tuple(tuple2.split())
ans=my_tuple1+my_tuple2
print(ans)

enter value spaced enter1 2 3 4
enter a spaced word"apple"  "hello"
('1', '2', '3', '4', '"apple"', '"hello"')

In [ ]:
# 24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
#present in the first set but not in the second set

set1=input("enter comma sperated value")
set2=input("enter comma seperated value")
my_set1=set(set1.split(","))
my_set2=set(set2.split(","))
ans=(my_set1 - my_set2)

print(ans)

enter comma sperated value"a","b","c"
enter comma seperated value"a","b"
{'"c"'}

In [ ]:
# 25  Create a code that takes a tuple and two integers as input.
#The function should return a new tuple containing elements from the original tuple within the specified range of indices
tuple1=input("enter a value space seperated")
my_tuple=tuple(tuple1.split())
a=input("enter a number1")
a=int(a)
b=input("enter a number2")
b=int(b)
ans=tuple(my_tuple[a:b])
print(ans)

enter a value space seperated1 2 3 4 5
enter a number12
enter a number24
('3', '4')

In [ ]:
# 26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
set1=input("enter comma sperated value")
set2=input("enter comma seperated value")
my_set1=set(set1.split(","))
my_set2=set(set2.split(","))
ans=(my_set1 | my_set2)
print(ans)

enter comma sperated value"a","b","c"
enter comma seperated value"a","d"
{'"b"', '"c"', '"d"', '"a"'}

In [ ]:
# 27  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpackin
number=input("enter a number space sprerated")
number=tuple(number.split())
min_val=min(number)
max_val=max(number)
print("min value is:",min_val,"\n","max value is:",max_val)

enter a number space sprerated1 2 3 4 5
min value is: 1
 max value is: 5

In [ ]:
# 28  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two set
set1=input("enter comma space value")
set2=input("enter comma space value")
my_set1=set(set1.split())
my_set2=set(set2.split())
union_set= set(my_set1 |my_set2)
diff=set(my_set1 - my_set2)
intersection=set(my_set1 & my_set2)
print("union of set is :",union_set)
print("difference  of set is :",diff)
print("intersection of set is :",intersection)

enter comma space value1 2 3 4 5 6
enter comma space value3 4 5 6 7 8 9
union of set is : {'1', '6', '9', '2', '7', '3', '4', '5', '8'}
difference  of set is : {'2', '1'}
intersection of set is : {'3', '6', '4', '5'}

In [ ]:
# 29  Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tupl
number=input("enter a number space sprerated")
number=tuple(number.split())
element=input("element")
ans=number.count(element)
print("count of element is:",ans)

enter a number space sprerated1 2 2 22 2 2 2 2
element2
count of element is: 6

In [ ]:
# 30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two set
set1=input("enter space value")
set2=input("enter space value")
my_set1=set(set1.split())
my_set2=set(set2.split())
ans=(my_set1 ^ my_set2)
print("symmetric diff is:",ans)

enter space value1 2 3 4 5
enter space value2 3 7 8 9
symmetric diff is: {'4', '1', '5', '8', '9', '7'}

In [1]:
# 31  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list
def word_frequencies(word_list):
  word_freq = {}
  for word in word_list:
    word_freq[word] = word_freq.get(word, 0) + 1
  return word_freq


words = ["apple", "banana", "apple", "orange", "banana", "apple"]
frequencies = word_frequencies(words)
print(frequencies)

{'apple': 3, 'banana': 2, 'orange': 1}

In [2]:
# 32  Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together
def merge_dictionaries(dict1, dict2):
  merged_dict = dict1.copy()
  for key, value in dict2.items():
    if key in merged_dict:
      merged_dict[key] += value
    else:
      merged_dict[key] = value
  return merged_dict


dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5}
merged_dict = merge_dictionaries(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 6, 'c': 3, 'd': 5}

In [3]:
# 33  Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value.
# If any of the keys do not exist in the dictionary, thefunction should return None
def get_nested_value(data, keys):

  current_level = data
  for key in keys:
    if isinstance(current_level, dict) and key in current_level:
      current_level = current_level[key]
    else:
      return None
  return current_level


nested_dict = {'a': {'b': {'c': 10}}}
keys = ['a', 'b', 'c']
value = get_nested_value(nested_dict, keys)
print(value)

keys = ['a', 'x', 'c']
value = get_nested_value(nested_dict, keys)
print(value)

10
None

In [8]:
# 34  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
#can choose whether to sort in ascending or descending order

def sort_dictionary_by_values(input_dict):

  return dict(sorted(input_dict.items(), key=lambda item: item[1]))

# Example usage:
my_dict = {'apple': 3, 'banana': 1, 'orange': 2}

sorted_dict_asc = sort_dictionary_by_values(my_dict)
print(sorted_dict_asc)

{'banana': 1, 'orange': 2, 'apple': 3}

In [9]:
# 35Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
#correctly handles cases where multiple keys have the same value by storing the keys as a list in the
#inverted dictionary.

def invert_dictionary(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:

            inverted_dict[value].append(key)
        else:

            inverted_dict[value] = [key]

    return inverted_dict


input_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}

inverted_dict = invert_dictionary(input_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}